- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [2]:
# Creating the local cluster using the
from pyspark.sql import SparkSession

spark: SparkSession = SparkSession.builder \
                    .master('local') \
                    .appName('first_spark_application') \
                    .getOrCreate()

24/11/18 18:12:07 WARN Utils: Your hostname, pmurugesan-lnx1 resolves to a loopback address: 127.0.1.1; using 192.168.1.28 instead (on interface wlo1)
24/11/18 18:12:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/18 18:12:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [("row1_value",1),
        ("row2_value",2),
        ("row3_value",3)]
columns = ["col1", "col2"]
spark.createDataFrame(data=data, schema=columns)
display(data) # to show df in a better way

[('row1_value', 1), ('row2_value', 2), ('row3_value', 3)]

In [4]:
# read the file.
data = spark.read.csv("test1.csv",
               header=True,
               inferSchema=True)
data.show()
data.printSchema()
data.head(3) # list[Row]
data.tail(2)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

[Row(Name='Harsha', age=21, Experience=1, Salary=15000),
 Row(Name='Shubham', age=23, Experience=2, Salary=18000)]

In [5]:
display(data)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [6]:
# Selecting all the columns
print(data.columns) # list[str]
data.dtypes

['Name', 'age', 'Experience', 'Salary']

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [7]:
data.describe().show() # Same as the pandas

24/11/18 18:12:17 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [8]:
# Select the values
data.select(["Name", "age"]).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [9]:
data.take(1) # take only one row.

[Row(Name='Krish', age=31, Experience=10, Salary=30000)]

In [10]:
# Get rows in dataframe
d = data.collect()[2] # Dont have a show method

# Select and collect both
data.select(["Name", "age"]).collect()[1]

Row(Name='Sudhanshu', age=30)

In [11]:
data["Name"] # This can't be used to get the columns

Column<'Name'>

In [12]:
# You can do the arithmatic operation to a column

# Can add a column to the existing dataframe
data.withColumn("age+2", data["age"] + 2).show()

+---------+---+----------+------+-----+
|     Name|age|Experience|Salary|age+2|
+---------+---+----------+------+-----+
|    Krish| 31|        10| 30000|   33|
|Sudhanshu| 30|         8| 25000|   32|
|    Sunny| 29|         4| 20000|   31|
|     Paul| 24|         3| 20000|   26|
|   Harsha| 21|         1| 15000|   23|
|  Shubham| 23|         2| 18000|   25|
+---------+---+----------+------+-----+

In [13]:
# Drop the columns
d = data.drop("age+2") # Can't give list of columns like pandas

In [14]:
d.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [15]:
data.withColumnRenamed("Name", "New Name").show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [17]:
# filter the rows
data.filter(data.age == 31).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
+-----+---+----------+------+

In [19]:

data.sort(data.age.desc()).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|  Shubham| 23|         2| 18000|
|   Harsha| 21|         1| 15000|
+---------+---+----------+------+