In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .master("spark://172.22.0.9:7077") \
                    .appName('sample_application') \
                    .config("spark.eventLog.enabled", "false") \
                    .config("spark.ui.showConsoleProgress", "true") \
                    .getOrCreate()
                    # .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
                    # .config("spark.kryo.registrator", "com.example.MyKryoRegistrator") \

In [12]:
spark

In [13]:
#spark.conf.set("spark.broadcast.compress", "true")
#spark.conf.set("spark.broadcast.blockSize", "4m")
# spark.conf.set("spark.network.timeout", "600s")
# spark.conf.set("spark.broadcast.timeout", "600s")

In [15]:
spark.stop()

In [16]:
import pandas as pd
data = pd.read_csv("/home/pavithra/projects/MLOPS_learning/sample_project/data/target_data/train.csv")

In [17]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
spark_df = spark.createDataFrame(data)

In [19]:
spark_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|  NaN|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|  NaN|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|  NaN|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows